<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeInfo.name}} </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Rceipe <span class="caret"></span>
      </button>
      <ul >
        <button  class = "dropdown-item" (click) = "toShoppingList()"><a href="#">To Shopping List</a></button>
        <button class = "dropdown-item"><a href="#">Edit Recipe</a></button>
        <button class = "dropdown-item"><a href="#">Delete Recipe</a></button>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul >
    <li *ngFor ="let ingredient of recipeInfo.ingredients">
        {{ingredient.name}}
    </li>
    </ul>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <p>{{recipeInfo.description}}</p> 
  </div>
</div> -->